<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body ng-app="my-employees">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("CRUD Operations AngularJS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @if (Session["user"] == null)
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Employees List", "Index", "Employee")</li>
                        </ul>
                    }

                    @if (Session["user"] == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Login / Signup", "Signin", "Login")</li>
                        </ul>
                    }
                    else
                    {

                        <ul class="nav navbar-nav navbar-right">
                            <li class="font-bold" style="color:#b6ff00; padding-top:15px;"><strong>Logged as @(Session["user"].ToString())</strong> </li>
                            <li>@Html.ActionLink("Signout", "Signout", "Login")</li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>
